<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='./img/favicon.ico') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>GSM EVIL 2</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

	<link href="{{ url_for('static', filename='./css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='./css/fresh-bootstrap-table.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='./css/demo.css') }}" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{{ url_for('static', filename='./js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='./js/bootstrap-table.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/socket.io.js') }}"></script>

    <!--  Just for demo purpose, do not include in your project     -->
    <script type="text/javascript" src="{{ url_for('static', filename='./js/demo/gsdk-switch.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/demo/jquery.sharrre.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./js/demo/demo.js') }}"></script>

</head>
<body>
<div class="wrapper">
    <a href="/">
         <div class="logo-container full-screen-table-demo">
            <div class="logo" style="border:0px;overflow: visible;">
                <img style="height: 60px;" src="{{ url_for('static', filename='./img/logo_small_t.png') }}">
            </div>
            <div class="brand" style="margin-top: 20px;margin-left: 0px;">
                GSMEVIL
            </div>
        </div>
    </a>

    <div class="fresh-table full-color-orange full-screen-table" style="margin: 0%;background: radial-gradient(ellipse at center, #323049 0%, #212030 100%);">
        <table id="fresh-table" class="table" data-sort-name="id" data-sort-order="desc">
            <thead>
                <th data-field="id" data-sortable="true">ID</th>
            	<th data-field="imsi" data-sortable="true">IMSI</th>
                <th data-field="tmsi" data-sortable="true">TMSI</th>
				<th data-field="mcc" data-sortable="true">Country</th>
				<th data-field="mnc" data-sortable="true">MNC</th>
				<th data-field="lac" data-sortable="true">LAC</th>
				<th data-field="ci" data-sortable="true">CI</th>
            	<th data-field="time">Time</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="fixed-plugin" style="top: 300px">
    <div class="dropdown open">
        <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
			<li class="header-title">Setting</li>
			<li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>SMS Sniffer</p>
                    <div class="switch"
                        data-on-label="ON"
                        data-off-label="OFF">
                        <input id="sms_sniffer" type="checkbox" data-target="section-header" data-toggle="parallax"/>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>IMSI Sniffer</p>
                    <div id="imsi_switch" class="switch"
                        data-on-label="ON"
                        data-off-label="OFF">
                        <input id="imsi_sniffer" type="checkbox" data-target="section-header" data-toggle="parallax"/>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <div class="">
                    <a href="/imsi" target="_blank" class="btn btn-default btn-block btn-fill">IMSI Sniffer</a>
                </div>
            </li>
            <li>
                <div class="">
                    <a href="/sms" target="_blank" class="btn btn-info btn-block btn-fill">SMS Sniffer</a>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false,
            window_height;

        $().ready(function(){

            window_height = $(window).height();
            table_height = window_height - 20;


            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                height: table_height,
                pageSize: 25,
                pageList: [25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });
    </script>


    <script type="text/javascript" charset="utf-8">
        var MCC_COUNTRY = {
            202: 'Greece', 204: 'Netherlands', 206: 'Belgium', 208: 'France',
            212: 'Monaco', 213: 'Andorra', 214: 'Spain', 216: 'Hungary',
            218: 'Bosnia & Herz.', 219: 'Croatia', 220: 'Serbia', 222: 'Italy',
            226: 'Romania', 228: 'Switzerland', 230: 'Czech Republic', 231: 'Slovakia',
            232: 'Austria', 234: 'United Kingdom', 235: 'United Kingdom',
            238: 'Denmark', 240: 'Sweden', 242: 'Norway', 244: 'Finland',
            246: 'Lithuania', 247: 'Latvia', 248: 'Estonia', 250: 'Russia',
            255: 'Ukraine', 257: 'Belarus', 259: 'Moldova', 260: 'Poland',
            262: 'Germany', 266: 'Gibraltar', 268: 'Portugal', 270: 'Luxembourg',
            272: 'Ireland', 274: 'Iceland', 276: 'Albania', 278: 'Malta',
            280: 'Cyprus', 282: 'Georgia', 283: 'Armenia', 284: 'Bulgaria',
            286: 'Turkey', 288: 'Faroe Islands', 290: 'Greenland', 292: 'San Marino',
            293: 'Slovenia', 294: 'North Macedonia', 295: 'Liechtenstein', 297: 'Montenegro',
            302: 'Canada',
            310: 'USA', 311: 'USA', 312: 'USA', 313: 'USA', 314: 'USA', 315: 'USA', 316: 'USA',
            334: 'Mexico', 338: 'Jamaica', 340: 'Guadeloupe', 342: 'Barbados',
            344: 'Antigua & Barbuda', 346: 'Cayman Islands', 348: 'British Virgin Islands',
            350: 'Bermuda', 352: 'Grenada', 356: 'Saint Kitts & Nevis', 358: 'Saint Lucia',
            360: 'Saint Vincent', 362: 'Bonaire', 363: 'Aruba', 364: 'Bahamas',
            366: 'Dominica', 368: 'Cuba', 370: 'Dominican Republic', 372: 'Haiti',
            374: 'Trinidad & Tobago', 376: 'Turks & Caicos',
            400: 'Azerbaijan', 401: 'Kazakhstan', 402: 'Bhutan',
            404: 'India', 405: 'India', 406: 'India',
            410: 'Pakistan', 412: 'Afghanistan', 413: 'Sri Lanka', 414: 'Myanmar',
            415: 'Lebanon', 416: 'Jordan', 417: 'Syria', 418: 'Iraq',
            419: 'Kuwait', 420: 'Saudi Arabia', 421: 'Yemen', 422: 'Oman',
            424: 'UAE', 425: 'Israel', 426: 'Bahrain', 427: 'Qatar',
            428: 'Mongolia', 429: 'Nepal', 432: 'Iran',
            434: 'Uzbekistan', 436: 'Tajikistan', 437: 'Kyrgyzstan', 438: 'Turkmenistan',
            440: 'Japan', 441: 'Japan', 450: 'South Korea',
            452: 'Vietnam', 454: 'Hong Kong', 455: 'Macau', 456: 'Cambodia',
            457: 'Laos', 460: 'China', 461: 'China', 466: 'Taiwan', 467: 'North Korea',
            470: 'Bangladesh', 472: 'Maldives',
            502: 'Malaysia', 505: 'Australia', 510: 'Indonesia', 514: 'Timor-Leste',
            515: 'Philippines', 520: 'Thailand', 525: 'Singapore', 528: 'Brunei',
            530: 'New Zealand', 537: 'Papua New Guinea', 539: 'Tonga',
            540: 'Solomon Islands', 541: 'Vanuatu', 542: 'Fiji', 545: 'Kiribati',
            546: 'New Caledonia', 547: 'French Polynesia', 548: 'Cook Islands',
            549: 'Samoa', 550: 'Micronesia', 551: 'Marshall Islands', 552: 'Palau',
            602: 'Egypt', 603: 'Algeria', 604: 'Morocco', 605: 'Tunisia',
            606: 'Libya', 607: 'Gambia', 608: 'Senegal', 609: 'Mauritania',
            610: 'Mali', 611: 'Guinea', 612: 'Ivory Coast', 613: 'Burkina Faso',
            614: 'Niger', 615: 'Togo', 616: 'Benin', 617: 'Mauritius',
            618: 'Liberia', 619: 'Sierra Leone', 620: 'Ghana', 621: 'Nigeria',
            622: 'Chad', 623: 'Central African Rep.', 624: 'Cameroon', 625: 'Cape Verde',
            626: 'São Tomé & Príncipe', 627: 'Equatorial Guinea', 628: 'Gabon',
            629: 'Republic of Congo', 630: 'DR Congo', 631: 'Angola',
            632: 'Guinea-Bissau', 633: 'Seychelles', 634: 'Sudan', 635: 'Rwanda',
            636: 'Ethiopia', 637: 'Somalia', 638: 'Djibouti', 639: 'Kenya',
            640: 'Tanzania', 641: 'Uganda', 642: 'Burundi', 643: 'Mozambique',
            645: 'Zambia', 646: 'Madagascar', 648: 'Zimbabwe', 649: 'Namibia',
            650: 'Malawi', 651: 'Lesotho', 652: 'Botswana', 653: 'Eswatini',
            654: 'Comoros', 655: 'South Africa', 657: 'Eritrea', 659: 'South Sudan',
            702: 'Belize', 704: 'Guatemala', 706: 'El Salvador', 708: 'Honduras',
            710: 'Nicaragua', 712: 'Costa Rica', 714: 'Panama',
            716: 'Peru', 722: 'Argentina', 724: 'Brazil', 730: 'Chile',
            732: 'Colombia', 734: 'Venezuela', 736: 'Bolivia', 738: 'Guyana',
            740: 'Ecuador', 744: 'Paraguay', 746: 'Suriname', 748: 'Uruguay',
            750: 'Falkland Islands'
        };

        function mccToCountry(mcc) {
            var code = parseInt(mcc);
            return MCC_COUNTRY[code] ? MCC_COUNTRY[code] + ' (' + mcc + ')' : mcc;
        }

        var socket = io();
        socket.emit('imsi_data', 'get')
        socket.on('sniffers', msg => sniffer_switch(msg))
        socket.on('imsi_data', msg => msg.forEach(msg => add_data(msg)))
        socket.on('imsi', msg=> add_data(msg))

        function sniffer_switch(msg){
            if(msg.imsi_sniffer == 'on' && $('#imsi_sniffer').prop('checked') != true){
                $('#imsi_sniffer').prop("checked", true).change();
            }else if(msg.imsi_sniffer == 'off' && $('#imsi_sniffer').prop('checked') == true){
                $('#imsi_sniffer').prop("checked", false).change();
            }
            
            if(msg.sms_sniffer ==  'on' && $('#sms_sniffer').prop('checked') != true){
                $('#sms_sniffer').prop("checked", true).change();
            }else if(msg.sms_sniffer ==  'off' && $('#sms_sniffer').prop('checked') == true){
                $('#sms_sniffer').prop("checked", false).change();
            }
        }
        function add_data(msg){
            var row = {
                id: msg[0],
                imsi: msg[1],
                tmsi: msg[2],
                mcc: mccToCountry(msg[3]),
                mnc: msg[4],
                lac: msg[5],
                ci: msg[6],
                time: msg[7]
            };
            $('#fresh-table').bootstrapTable('prepend', row);
        }

        $().ready(function(){
            $('#imsi_sniffer').change(function(){
                if($(this).is(':checked')){
                    socket.emit('imsi_sniffer', 'on')
                }else{
                    socket.emit('imsi_sniffer', 'off')
                }
            });

            $('#sms_sniffer').change(function(){
                if($(this).is(':checked')){
                    socket.emit('sms_sniffer', 'on')
                }else{
                    socket.emit('sms_sniffer', 'off')
                }
            });
        });
    </script>
</html>
